<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheeet" href="landing.css">
    </head>
    <style>
    *{
        background-color: brown;
    }
    </style>
<body>
    <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Get in touch with us:</h1>
    <p>Facebook: Edziban_recipes</p>
    <p>Instagram: edziban_RECIPE</p>
    <p>Tiktok: edziiiban_rec</p>
    <p>Email us: edziban_recipe@gmail.com</p>
    <p>Tel: 0504729726/0504087593</p>
    
</body>
</html>