<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Edziban Recipes</title>
    <link rel="stylesheet" href="../assets/css/landing.css">
    <link rel="stylesheet" href="../assets/css/mylogo.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>
<body>
    <div class="logo_container">
        <img src="../assets/images/logo.png" alt="Logo" class="logo">
        <h1 class="logo-name">Edziban Recipe</h1>
      </div>
    </div>
    <div class = "info">
    <h1 style="font-size: 25px;">STRUGGLING TO GET YOUR FOOD BOILING?<br/></h1>
        <p>Edziban recipes is here for you! We provide various recipes of all kind of dishes. Continental,local?Ghanaian,Nigerian? You name it!!Edziban recipes got you covered.</p>
        <p> We provide steps on how to prepare your favorite food and the right ingredients to bring out a delicious masterpiece.We have food
            ranging from Banku,Rice,Fufu,Plantain,Yam. Whatever food you can actually think off. And guess what? We have links to places where you can get all the recipes
            if you do not know where to get some. Isn't that exciting!!!.Wherever you are,whenever, Edziban recipe is here for. 
        </p>
    
    <h2>ARE YOU READY?</h2>
    </div>
    <a href="../actions/index.php"><button type="Getting started"> Get Started</button></a>
    
    
    <div class="images">
        <img src="../assets/images/Indomie.avif" alt="Image 1">
        <img src="../assets/images/recipe.jpg" alt="Image 2">
        <img src="../assets/images/burger.webp" alt="Image 3">
      </div>

    
    
</body>
</html>