<!DOCTYPE html>
<html lang = "en">

</html>
<head>
    <title>Sign up</title>
    <link rel= "stylesheet" href="../assets/css/styling.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <div class="display">
        <form action="../actions/register.php" method ="POST" id = "register" onsubmit="return validatePassword()" >
            <h1>Register now!</h1>
            <div class="input-box">
                <input type="text" id = "f_name" name="fname" placeholder = "Enter your First name" required>
            </div>
            <div class="input-box">
                <input type="text"  id = "l_name" name="lname" placeholder = "Enter your last name" required>

            </div>
            <div class="input-box">
                <input type="text"  id = "number" name="phone_number" placeholder ="Enter your phone number here " required>
                
            </div>
            <div class="input-box">
                <input type = "text" id = "email" name="email" placeholder="Email address" required>
                <box-icon type='solid' name='envelope'></box-icon>
            </div>
            <div class="input-box">
                <input type ="password" id="password_setting" name="password" placeholder="Choose a Password"required>
                <i class='bx bx-block'></i>
                <box-icon name='lock-alt' type='solid' ></box-icon>
            </div>
            <div class="input-box">
                <input type ="password" id = "password_confirmation" name="password_confirmation" placeholder="Confirm Password"required>
                <i class='bx bx-block'></i>
                
            </div>
            
            <button type="Submit details" class="btn">Join Us</button>
            <div class="sign-up">
                <p>Already part of us? <a href="login.html">Login now!</a></p>
            </div>
            <div>
                <input type="checkbox" id="showPassword" onclick="visiblePassword()"> Show Password
            </div>
            <p id="error" style="color: red;"></p>
            <p id="error_message" style="color: red;"></p>
        </form>
    </div>

    <script>
        function validatePassword() {
            const password = document.getElementById('password_setting').value;
            const errorElement = document.getElementById('error');
            const error_message = document.getElementById('error_message');
            const password_setting = document.getElementById('password_setting').value;
            const password_confirmation = document.getElementById('password_confirmation').value;

            // Regex to check the password format
            const passwordRegex = /^(?=.*[A-Z])(?=.*[0-9]{3,})(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;

            if (!passwordRegex.test(password)) {
                errorElement.textContent = "Invalid password format! Check password again";
                return false;
            }else{

            errorElement.textContent = '';  
            }
        
            if (password_setting !== password_confirmation){
                error_message.textContent = "Passwords do not match! Check password again";
                return false;
            
            }
            else{
            error_message.textContent ='';
            }


            return true;
            
        }
        function visiblePassword() {
            const passwordField = document.getElementById('password_setting');
            const pass2field = document.getElementById('password_confirmation');

            const showPassword = document.getElementById('showPassword');

            if (showPassword.checked) {
                passwordField.type = "text"; 
                pass2field.type = "text"; 
            } else {
                passwordField.type = "password"; 
                pass2field.type="password"; 
            }
        }
    </script>

</body>
