<!DOCTYPE html>
<html>
<head>
    <title>Getting started</title>
    <link rel="stylesheet" href="../assets/css/start.css">
    
    
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
<style>
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: auto;
    border: 15px; 
    background-image: "../assets/images/plain.jpg"; 
}
.search_box {
    position: fixed; 
    top: 10px; 
    right: 50px; 
    padding: 10px; 
    border-radius: 5px;
    border-style: none;
  }
  .search_box input {
    padding: 8px;
    font-size: larger;
  }
  
  .search_box button {
    padding: 8px;
  }
</style>

</head>
<body>
    

    <h1 style="color: blue;">Welcome To The Edziban Recipe Table!!!!</h1>
    <p>Here, we provide you with various food and their recipe. We also provide steps on how to prepare them</p>
    <p>Fell free to explore. Edziban gat you!!!</p>
    
    <div class="search_box">
        <input type="text" placeholder="Search Food here for recipe">
    </div>
    <div class="card-wrapper">
        <div class="card">
            <h3 class="food"><a href="#">Spicy-Jollof</a></h3>
            <img src="../assets/images/jollof.jpg" alt="Image could not load">
            <p>A delicious favorite from Ghana!,can be taken as breakfast,lunch or supper</p>
            <p>Preparation time:1hr<br>difficulty:Easy</p>
        </div>
        <div class ="card">
            <h3 class="food"><a href="#">Indomie Chicken</a></h3>
            <img src="../assets/images/noodles.jpg" alt="Image could not load">
            <p>A very delicious meal prepared in 5mins. Good for all!!</p>
            <p>Preparation time: 10mins<br>Difficulty: Easy</p>
        </div>
        <div class ="card">
            <h3 class="food"><a href="#">Chicken Curry</a></h3>
            <img src="../assets/images/chick.jpg" alt="Image could not load">
            <p>A spicy and flavorful curry made with tender chicken.</p>
            <p>Preparation time: 30mins<br>Difficulty: Hard</p>
        </div>
        <div class ="card">
            <h3 class="food"><a href="#">Tuo-Special</a></h3>
            <img src="../assets/images/tuo.webp" alt="Image could not load">
            <p>A favorite ghanaian delicacy prepared with corn-dough.</p>
            <p>Preparation time: 37mins<br>Difficulty: Hard</p>
        </div>
        <div class="navigation">
            <a href="Landing_page.html">Home</a>
            <a href="login.html">Login</a>
            <a href="register.html">Sign Up</a>
            <a href="contact.html">Contact Us</a>
        </div>


    </div>


</body>
</html>