<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="../assets/css/users.css">
    <script src="../assets/js/users.js" defer></script>
</head>
<body>
    <h1>Edziban User Management</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>User Registration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="userTable">
            
        </tbody>
    </table>
    <div class="link">
        <a href="../actions/dashboard.php" class="button-link">Go to Admin Dashboard</a>
        <a href="../actions/manage_recipes.php" class="button-link"> Go to Recipe Management</a>
    </div>

</body>
</html>

    