.logo_container {
    display: flex; 
    align-items: center;
    position: absolute; 
    top: 10px; 
    left: 10px; 
  }
  
  .logo {
    width: 70px;
    height: auto; 
    margin-right: 1px; 
  }
  
  .logo-name {
    font-family: 'Georgia', serif; 
    font-size: 10px; 
    color: red; 
    font-weight: bold; 
  }